In [1]:
import numpy as np
import pandas as pd

In [4]:
test_now = np.array([5, 6, 7, 8])
df_pred_test = pd.DataFrame(columns=('ID','Prediction'))
for i in range(len(test_now)):
    df_pred_test = df_pred_test.append(pd.DataFrame({'ID':[i+1],'Prediction':[test_now[i]]}), ignore_index=True)
df_pred_test

  ID Prediction
0  1          5
1  2          6
2  3          7
3  4          8

In [12]:
new_pred = [7, 8, 9, 10]
df_pred_test['Prediction'] = new_pred
df_pred_test

  ID  Prediction
0  1           7
1  2           8
2  3           9
3  4          10

In [15]:
df_pred_test.loc[1, 'Prediction'] = 5
df_pred_test

    ID  Prediction
0    1         7.0
1    2         5.0
2    3         9.0
3    4        10.0
1  NaN         5.0

In [6]:
dic = {}
dic['four'] = 4
dic['five'] = 5
len(dic)

2

In [3]:
a = np.array([1,2,3])
df = pd.DataFrame(a)
df

   0
0  1
1  2
2  3

In [4]:
df_new = df
df_new

   0
0  1
1  2
2  3

In [ ]:
'''
from sklearn.preprocessing import LabelEncoder

X_train = pd.DataFrame(columns=('State', 'License Type', 'Violation', 'Precinct', 'County', 'Issuing Agency'))

# convert state
le_state = LabelEncoder()
state_train = le_state.fit_transform(df_train_new2['State'])
X_train['State'] = state_train

# convert license type
le_lt = LabelEncoder()
lt_train = le_lt.fit_transform(df_train_new2['License Type'])
X_train['License Type'] = lt_train

# convert violation
le_v = LabelEncoder()
v_train = le_v.fit_transform(df_train_new2['Violation'])
X_train['Violation'] = v_train

# precinct
X_train['Precinct'] = df_train_new2['Precinct']

# convert county
le_c = LabelEncoder()
c_train = le_c.fit_transform(df_train_new2['County'])
X_train['County'] = c_train

# convert issuing agency
le_ia = LabelEncoder()
ia_train = le_ia.fit_transform(df_train_new2['Issuing Agency'])
X_train['Issuing Agency'] = ia_train

# convert labels to integers
le_y = LabelEncoder()
y_train = le_y.fit_transform(df_train_new2['Violation Status'])

print(y_train)
X_train.head()
'''

In [ ]:
'''
X_test = pd.DataFrame(columns=('State', 'License Type', 'Violation', 'Precinct', 'County', 'Issuing Agency'))

# convert state
state_test = le_state.transform(df_test['State'])
X_test['State'] = state_test

# convert license type
lt_test = le_lt.transform(df_test['License Type'])
X_test['License Type'] = lt_test

# convert violation
v_test = le_v.transform(df_test['Violation'])
X_test['Violation'] = v_test

# convert precinct
p_test = le_p.transform(df_test['Precinct'])
X_test['Precinct'] = p_test

# convert county
c_test = le_c.transform(df_test['County'])
X_test['County'] = c_test

# convert issuing agency
ia_test = le_ia.transform(df_test['Issuing Agency'])
X_test['Issuing Agency'] = ia_test
'''

In [11]:
s = '2/15/2019'
a = s.split('/')
a

['2', '15', '2019']

In [4]:
l = [1,2,3,2,3,3,3,2,1]
dic = {1:0, 2:0, 3:0}
for i in l:
    dic[i] = dic.get(i) + 1
print(dic)
print(1 in dic)

{1: 2, 2: 3, 3: 4}
True

In [13]:
dic = {'discount': ['10%', '20%'], 'company': ['first', 'second']}
df_my = pd.DataFrame(dic, columns = ['discount', 'company'])
#df_my['discount'] = ['10%']
df_my.to_csv('discount.csv', sep = ',', encoding = 'utf-8', index = False)

In [2]:
dic = {'yu':1, 'qi':3, 'hong': 2}
for key, value in dic.items(): 
    if max(dic.values()) == value: 
        break
print(key)

qi

In [6]:
dic = {'discount': ['10%', '20%', '30%'], 'company': ['first', np.NaN, np.NaN]}
df_my = pd.DataFrame(dic, columns = ['discount', 'company'])
df_my = df_my.fillna(value = {'company': key})
df_my.isnull().sum()
df_my

  discount company
0      10%   first
1      20%      qi
2      30%      qi

In [8]:
f = 'device_company_contract one'
f1 = f.split('_')
print(f1[0])
print(f1[1])
print(f1[2])

device
company
contract one